<title>My application</title>
  <h1>Hello, World!</h1>
    input1: ArrayList (array of integers seperated by a newline character)<br>
    input2: An integer<br>
    input3: An integer<br>
    Algorithm: Returns true if input2*input3 is in the ArrayList, false otherwise<br><br>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
